--find-links https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
numpy==1.24.2
matplotlib==3.4.3
datasets==2.10.1
sentencepiece==0.1.97
transformers==4.27.2
beir==1.0.1
mteb==1.0.1
seaborn
wandb
huggingface_hub
haven-ai git+https://github.com/haven-ai/haven-ai@f75c0b244d498980bfffc6c51f32c5fabe6aabbc
